.App {
  position: relative;
  height: 100vh;
  top: 0;
  overflow-y: hidden;
}

main {
  display: inline-block;
  margin: 5rem 0;
  float: right;
  height: 100%;
  width: calc(100% - 24rem);
  overflow-y: scroll;
}

main h2 {
  font-weight: 100;
  font-size: 1.6rem;
  padding: 1.5rem 3rem 2rem;
}

.view-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 10%);
  margin: 0 auto;
}

@media only screen and (max-width: 860px) {
  main {
    float: none;
    width: 100%;
  }
}