.card-container {
  position: relative;
  padding: 0 1.5rem;
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
}

.card-container.disabled .card {
  background-color: #ddd;
  color: #999;
}

.card-container.disabled .card-icon {
  background: #ccc;
}

.card-container.disabled .MuiInputLabel-animated-11, .card-container.disabled .MuiInputBase-input-44 {
  color: #999;
}

.card-container.disabled .MuiInput-underline-25:after { border-bottom: 2px solid #999; }

.card {
  position: relative;
  display: inline-block;
  margin: 3rem 0;
  height: 20rem;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  text-align: right;
}

.card .content--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and  (max-width: 1400px) {
  .card-container {
    max-width: 33.33%;
    flex-basis: 33.33%;
  }
}


@media only screen and  (max-width: 1160px) {
  .card-container {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media only screen and  (max-width: 600px) {
  .card-container {
    max-width: 100%;
    flex-basis: 100%;
  }
}