.hindsight-view .MuiInputLabel-animated-9 { font-size: 1.6rem; }

.hindsight-view .MuiInputBase-inputType-45 {
  height: auto;
  font-size: 1.6rem;
}

.MuiInputBase-inputType-47, .MuiInputBase-input-44 { text-align: center; }

.view-container label {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.view-container input { font-size: 1.5rem; }

.hindsight-view .error-message {
  color: red;
  position: absolute;
  bottom: -3rem;
}

.results {
  font-size: 1.5rem;
  font-weight: 200;
  padding-top: 3rem;
}

.important { font-weight: 600; }

.extra-important {
  font-weight: 900;
  font-size: 1.8rem;
}

@media only screen and  (max-width: 10px) {
  .hindsight-view .card-container {
    max-width: 25%;
    flex-basis: 25%;
    margin: 0 auto;
  }
}
